---
const items = [
  {
    name: "RSS",
    href: "/rss.xml",
    imagePath: "/rss-icon.svg",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/reona_5",
    imagePath: "/twitter-icon.svg",
  },
  {
    name: "GitHub",
    href: "https://github.com/reona5",
    imagePath: "/github-black-icon.svg",
  },
] as const;
const today = new Date();
---

<footer>
  <div
    class="m-auto flex max-w-4xl justify-between bg-white p-6 transition ease-in-out dark:bg-gray-900 dark:text-white"
  >
    <span>
      &copy; {today.getFullYear()} Reona Shimada.
    </span>
    <nav>
      <ul class="flex gap-4 p-0">
        {
          items.map((item) => (
            <li>
              <a href={item.href} target="_blank" rel="noreferrer">
                {item.name === "GitHub" ? (
                  <>
                    <img
                      src="/github-white-icon.svg"
                      width={24}
                      height={24}
                      alt={`${item.name} icon`}
                      loading="lazy"
                      decoding="async"
                      class="hidden dark:inline"
                    />
                    <img
                      src={item.imagePath}
                      width={24}
                      height={24}
                      alt={`${item.name} icon`}
                      loading="lazy"
                      decoding="async"
                      class="dark:hidden"
                    />
                  </>
                ) : (
                  <img
                    src={item.imagePath}
                    width={24}
                    height={24}
                    alt={`${item.name} icon`}
                    loading="lazy"
                    decoding="async"
                  />
                )}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
