---
import ThemeIcon from "./ThemeIcon.astro";
import MenuIcon from "./MenuIcon.astro";
import { SITE_TITLE } from "../consts";
const headerItems = [
  { name: "About", href: "/about" },
  { name: "Posts", href: "/posts" },
  { name: "Tags", href: "/tags" },
  { name: "Drafts", href: "/drafts" },
] as const;
export type HeaderItem = typeof headerItems[number]["name"];
export type Props = { currentPage?: HeaderItem };

const { currentPage } = Astro.props;
type Item = typeof headerItems[number]["name"];
const isCurrentItem = (item: Item) => item === currentPage;
const ariaCurrent: { "aria-current": "page" | undefined } = {
  "aria-current": "page",
};
---

<header
  class="sticky top-0 bg-white/75 transition ease-in-out dark:bg-gray-900/75 dark:text-white sm:static"
>
  <div class="m-auto flex max-w-4xl items-center justify-between p-6">
    <a href="/" class="text-xl">{SITE_TITLE}</a>
    <nav class="hidden sm:inline">
      <ul class="flex gap-3 text-lg">
        {
          headerItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={isCurrentItem(item.name) ? "underline" : undefined}
                {...(isCurrentItem(item.name) && ariaCurrent)}
              >
                {item.name}
              </a>
            </li>
          ))
        }
        <li>
          <ThemeIcon buttonClass="hidden sm:inline" />
        </li>
      </ul>
    </nav>
    <MenuIcon>
      <ThemeIcon buttonClass="sm:hidden mb-5" />
      <nav class="inline">
        <ul class="grid items-end gap-3 text-lg">
          {
            headerItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class={isCurrentItem(item.name) ? "underline" : undefined}
                  {...(isCurrentItem(item.name) && ariaCurrent)}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </MenuIcon>
  </div>
</header>
