---
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

export type Props = {
  posts: CollectionEntry<"posts">[];
  isDraft: boolean;
};
const { posts, isDraft } = Astro.props;
---

{
  posts.length !== 0 ? (
    <ol class="grid gap-8">
      {posts.map((post) => (
        <li class="grid">
          <FormattedDate date={post.data.pubDate} />
          <a
            href={`/${isDraft ? "drafts" : "posts"}/${post.slug}/`}
            class="text-lg underline"
          >
            {post.data.title}
          </a>
          <p class="truncate text-sm">{post.data.description}</p>
          <div class="flex flex-wrap">
            {post.data.tags.map((tag) => (
              <p class="my-1 mr-1 rounded-md border bg-gray-50 p-1 text-sm dark:bg-black dark:text-white">
                <a href={`/tags/${tag}`}>{tag}</a>
              </p>
            ))}
          </div>
        </li>
      ))}
    </ol>
  ) : (
    <p class="text-lg">📝 {isDraft ? "下書き" : "記事"} はありません。</p>
  )
}
