---
import '@fontsource/inter'
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, SITE_LANGUAGE } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<!DOCTYPE html>
<html lang={SITE_LANGUAGE}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-inter">
    <Header />
    <main class="m-auto max-w-4xl p-8">
      <section>
        <ul>
          {
            posts.map(post => (
              <li>
                <FormattedDate date={post.data.pubDate} />
                <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
