---
import "@fontsource/inter";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_LANGUAGE } from "../consts";
import { Image } from "astro:assets";

type Props = CollectionEntry<"posts">["data"];

const { title, description, heroImage } = Astro.props;
---

<html lang={SITE_LANGUAGE}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="font-inter">
    <Header currentPage="About" />
    <main class="m-auto max-w-4xl p-8">
      <section class="prose max-w-none">
        {heroImage && <Image src={heroImage} alt="" width={850} class="pb-8" />}
        <h1 class="title">{title}</h1>
        <p>
          <a href="/">reona.dev</a> は Astro + Vercel によって作成されています。<a
            href="https://twitter.com/reona_5"
            target="_blank">Reona Shimada</a
          > のプログラミングに関する学びや日々の出来事を発信するウェブサイトです。
        </p>
        <hr />
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
