---
import "@fontsource/fira-code";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose max-w-none break-words">
    {heroImage && <Image width={720} height={360} src={heroImage} alt="" />}
    <FormattedDate date={pubDate} />
    <h1>{title}</h1>
    {
      updatedDate && (
        <p>
          Last updated on <FormattedDate date={updatedDate} />
        </p>
      )
    }
    <hr />
    <slot />
  </article>
</BaseLayout>
